.credit-container {
    background-color: #fff;
    border-radius: 12px;
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0%;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.credit-image {
    height: 160px;
}

.credit-amount-text {
    display: flex;
    align-items: center;
    color: #16dbaa;
    margin-bottom: 0;
}

.credit-text {
    color: #718ebf;
    margin: 0;
}