.tab-main{
    margin-left: 4px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.logo{
    flex-shrink: 1;
    margin-top: 30px;
    width: auto;
    height: auto;
}
.tabs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.label{
    color: #505887;
    
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tab-bar{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0px;
}
.icon{
    margin: 20px 10px;
    box-sizing: content-box;
}
.active-tab{
    border-left: 4px solid #0b1f93;
}
.footer {
    box-sizing: border-box;
    border-top: 2px grey solid;
    padding: 10px;
    width: 100%;
    align-self: flex-start;
    margin-left: 5px;
}
.mobile-tabs{
    display: none;
}

@media only screen and (max-width: 768px) {
    .tab-main{
        width: 100%;
        height: 10vh;
    }
    .footer{
        display: none;
    }
    .tabs-container{
        display: none;
    }
    .mobile-tabs{
        display: block;
    }
    .active-tab{
        border: none;
        border-bottom: 4px solid #0b1f93;
    }
    .css-bsqp9w-MuiSvgIcon-root{
        width: 2em;
    }
}