.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.txn-container{
    width: 100%;
}

.boxes-container {
    display: flex;
}

.account-container {
    margin: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
    width: calc(100vw - 290px);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}