.home-container{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
}
.home-page{
    width: 70%;
    min-height: 100vh;
    padding: 10px;
    border: 2px solid #280084;
}

@media all and (max-width: 768px) {
    .home-container{
        display: flex;
        flex-direction: column;
        min-height: 200vh;
    }
    .home-page{
        width: 100%;
        min-height: 100vh;
    }
    .order-2{
        border-top: 1px grey solid;
        order: 2;
        justify-self: flex-end;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}