.txn-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.name-symbol-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.debit-item {
  color: #fe5c73;
}
.credit-item {
  color: #16dbaa;
}
.sign-box {
  display: flex;
}
.list-item-width {
  /* width: 0%; */
}
