.footer-main{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.details{
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}
.name{
    padding: 0px;
    margin: 0px;
    color: #505887;  
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.email{
    margin: 0px;
    padding: 0px;
    color: #718EBF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.avatar{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar-img{
    height: 100%;
    width: 100%;
}